{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

<h2 class="text-center mb-4">Products</h2>

<div class="row">

{% for product in products %}

<div class="col-md-4 mb-4">

<div class="card shadow-lg h-100">

<img src="{{ product.image.url }}" class="card-img-top" style="height:200px; object-fit:cover;">

<div class="card-body text-center">

<h5 class="card-title">{{ product.name }}</h5>

<p class="text-muted">₹{{ product.price }}</p>

<a href="{% url 'product_detail' product.id %}" class="btn btn-primary">
View Product
</a>
<a href="{% url 'add_to_cart' product.id %}" class="btn btn-success">
Add to Cart
</a>

<br><br>

<a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-outline-danger">
❤️ Wishlist
</a>

</div>

</div>

</div>

{% endfor %}

</div>

</div>

{% endblock %}